* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-color: #0c3049;
  --second-color: rgb(121, 87, 47);
  --second-color-dark: rgb(58, 17, 17);
  --first-color-light: #c4c7f5;
  --dark-color: #0e1026;
  --white-color: #fbfbfb;

  --body-font: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.topHeading {
  height: 4vh;
  background-color: var(--first-color);
  color: var(--white-color);
  display: flex;
}
.fab {
  padding-right: 5px;
  height: 3vh;
}
.fas {
  padding-left: 5px;
}
.socialMedia {
  flex: 10;
  margin-left: 50px;
  line-height: 25px;
}
.socialMedia a {
  color: azure;
}
.searchBox {
  margin-right: 50px;
  line-height: 20px;
}
.searchBox a {
  color: #b7fae0;
}
input {
  height: 2.5vh;
  width: 30vh;
  font-size: 0.7rem;
}
.companyLogo {
  display: flex;
  margin-left: 42%;
  margin-top: 10px;
}
.companyLogo .title {
  padding: 5px;
}
.companyLogo .title h1 {
  color: var(--second-color-dark);
}
.companyLogo .title span {
  color: var(--second-color);
}
.companyLogo .fas {
  color: var(--second-color);
  font-size: 40px;
  padding-right: 10px;
}
.navMenu {
}
.menus {
  display: flex;
  margin-left: 190px;
}
.bar {
  text-align: between;
  margin-left: 100px;
}
.bar a {
  color: var(--first-color);
  padding: 5px;
}
.bar a:hover {
  background-color: var(--second-color);
  color: var(--white-color);
}
